.other{
  display: none;

  @include phones{
    display: block;
  }

  &__wrap{
    background-color: #fff;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    padding: 25px 10px 20px 10px;
  }
}

.owl-carousel{
  margin-top: 15px;
}

.owl-item{
  padding: 10px;
  border: 1px solid #c7c7c7;
  text-align: center;
  min-height: 150px !important;
}